<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" href="{{ url_for('static', filename='palette.png') }}">

    <!-- Primary Meta Tags -->
    <title>AutoPalette🎨</title>
    <meta name="title" content="AutoPalette - Pilih Warna dengan Santai untuk Desainer Grafis Keren" />
    <meta name="description"
        content="Gak perlu pusing milih warna lagi. AutoPalette bisa otomatis bikin kombinasi warna keren buat desain kamu dari sebuah gambar" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://autopalette.megalogic.id" />
    <meta property="og:title" content="AutoPalette - Pilih Warna dengan Santai untuk Desainer Grafis Keren" />
    <meta property="og:description"
        content="Gak perlu pusing milih warna lagi. AutoPalette bisa otomatis bikin kombinasi warna keren buat desain kamu dari sebuah gambar" />
    <meta property="og:image" content="https://autopalette.megalogic.id/static/banner.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://autopalette.megalogic.id" />
    <meta property="twitter:title" content="AutoPalette - Pilih Warna dengan Santai untuk Desainer Grafis Keren" />
    <meta property="twitter:description"
        content="Gak perlu pusing milih warna lagi. AutoPalette bisa otomatis bikin kombinasi warna keren buat desain kamu dari sebuah gambar" />
    <meta property="twitter:image" content="https://autopalette.megalogic.id/static/banner.png" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>